
<!DOCTYPE html>
{% extends 'base2.html'%}

{% block navbar%}
<button type="button" name="button" class="btn btn-outline-primary mx-5"><a href="/userAccount/userpost" >Post</a></button>
<!-- <a href="/userAccount/userpost">Post</a> -->
{% endblock navbar %}

{% block body_block %}
{%for i in posts%}
<div class="container my-4" id="{{ i.id }}">


<div class="card" style="width: 28rem;">

 {%if i.image %}
 <img style="width:400px; height:400px;" class="postimg" src={{i.image.url}} alt="Card image cap">
 {%endif%}
 <div class="card-body">
   <h5 class="card-title">{{i.userId}}<small>{{i.date.date}}</h5>
   <p class="card-text">{{i.caption}}</p>

  {% if i in liked_post %}
   <a href="{% url 'like_dislike_post' %}" class="btn btn-primary like" id="{{ i.id }}">Liked</a>

  {% else %}
   <a href="{% url 'like_dislike_post' %}" class="btn btn-primary like" id="{{ i.id }}">Like</a>
  {% endif %}
   <a href="{%url 'comment'%}" class="btn btn-primary">
     Comment
   </a>
   {% block comments%}
   {% endblock comments %}
   <a href="#" class="btn btn-primary">Share</a>
 {%if i.userId == request.user%}
   <a href="{% url 'delpost' i.id %}" class="btn btn-danger mx-5 px-3 delete" id="{{ i.id }}">Delete</a>
 {%endif%}
 </div>
</div>

</div>

{%endfor%}
{% endblock %}

{% block js %}
<script>
  $(".delete").click(function(e){
    var id = this.id;
    var href = this.href;
    console.log(href, id);
    e.preventDefault();

    $.ajax({
      url: href,
      data: {},
    });

    $("#"+id).fadeOut(1000);
  });

  $(".like").click(function(e){
    var id = this.id;
    var href = this.href;
    console.log(href, id);
    e.preventDefault();

    $.ajax({
      url: href,
      data: {'likeId':id},
    });
      //success: function(response){
      // if(response.liked)
     //  {
      //   $(".like").html("Liked")
      // }
     //  else{
     //    $(".like").html("Like")
     //  }
    //}
  });

</script>
{% endblock js %}
